* {
	margin-bottom: 0;
	padding-top: 0;
}

body {
	height: 150px;
	background-color: #E3EDFC;
	width: 100%;
}

.form {
/*	The form aligned to the center after I added the width here and making the width in the body 100%*/
	width: 75%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.required{
	font-size: 15px;
	color: #DB4437;
}
#re {
	text-align: left;
	align-items: flex-start;
}

.first-box {
	padding: 5px 20px 70px;
	height: 60px;
	width: 55%;
	background-color: white;
	border-top: 10px solid #4285F4;
	border-radius: 8px 8px 0 0;
	
}
#side {
	display: flex;
	justify-content: space-between;
}

img {
	margin-top: 10px;
}

#line {
	padding: 0 20px 55px;
	background-color: white;
	width: 55%;
	height: 20px;
	margin-top: 0;
	border-top: 1px solid #D9DCE0;
	border-radius: 0 0 8px 8px;
	margin-bottom: 7px;
}

.first-box >h1 {
	font-weight: lighter;
	margin-top: 10px;
}

#side >h5 {
	font-size: 15px;
	margin-top: 10px;
	color: #777A7E;
}

#line a {
	color: #4285F4;
	font-weight: lighter;
	text-decoration: none;
}

.second-box, .third-box, .fourth-box, .fifth-box, .sixth-box, .seventh-box, .eight-box, .ninth-box, .tenth-box, .last-box {
	height: 80px;
	width: 55%;
	background-color: white;
	margin: 7px;
	border-radius: 8px;
	padding: 3px 20px 50px;
}

.fifth-box, .sixth-box {
	height: 120px;
}

.seventh-box {
	height: 160px;
}

.question {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 6px;
	font-size: 18px;
}

.question >p {
	margin-top: 5px;
	font-size: 16px;
}

.details {
	padding-bottom: 20px;
	padding-left: 6px;
}

/*To remove the focus of an input when clicked on, you remove the outline or use 
textarea:focus, input:focus{
    outline: none;
} To prevent it in the whole site, you can apply this 
*:focus {
    outline: none;
}*/

.details input{
	font-size: 14px;
	width: 300px;
	border: 0;
	outline: 0;
	padding-bottom: 5px;
	border-bottom: 1.5px solid #DCD7D7;
}

.radio-btn{
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 0px 3em 0px 0;
}


input[type="radio"] {
  margin-right: 12px;
  margin-top: 5px;
/*  Vertical-align: centered the text beside the button;*/
  vertical-align: -2px;
}

.radio {
/*	I had to set apperance to none and use border, boder-radius and ouline to get my desired radio button*/
/*	width: unset;*/
	appearance: none;
	border: 8px solid white;
	border-radius: 60%;
	outline: 2px solid #66696D;
}

#end {
	margin: 20px 0 10px 0;
	color: #6B85A0;
	padding-left: 400px;
	font-size: 17px;

}
.footer {
	width: 75%;
	margin: 0 auto;
	display: flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.submit {
	width: 60%;
/*	height: 100px;*/
	display: flex;
/*	flex-direction: row;*/
	justify-content: space-between;
	align-content: space-between;
	margin: 20px 0 20px 0px;
}

#green {
	width: 180px;
	border-radius: 5px;
	height: 1px;
	padding: 5px;
	margin-right: 0;
	margin-top: 10px;
	background-color: #33A852;
}
#page {
/*	margin-left: 0;*/
/*	padding-left: 1px;*/
	margin-top: 6px;
}

.btn{
/*	justify-content: flex-start;*/
	height: 36px;
	width: 100px;
	border-radius: 5px;
	margin-top: 0;
	background-color: #0074ED;
	transition-duration: 0.4s;
  	cursor: pointer;
  	color: white;
  	border: none;
  	font-size: 15px;
}
.btn:hover{
	background-color: #3F8BF0;
}

.item {
	flex: auto;
    margin: 50px;

}
        
.link {
/*	Putting both items in a container and setting display to flex, fixed the alignment issue*/
	display: flex;
	gap: 1em;
}

.button{
	border: none;
	background-color: transparent;
	color: #0074ED;
	height: 36px;
	width: 100px;
	border-radius: 5px;
	margin-top: 0;
	transition-duration: 0.4s;
  	cursor: pointer;
  	font-size: 15px;
}
.button:hover {
	background-color: #C7DAFF;
}


.last-div a {
	font-size: 13px;
	color: #4D5156;
	font-weight: lighter;
	
}
.privacy {
/*	Adding width here, helped align the text to the left side of the form*/
	width: 60%;
	margin-top: 5px;
	font-size: 13px;
	font-weight: lighter;
	color: #4D5156;
}
.term {
	font-size: 13px;
	font-weight: lighter;
	color: #4D5156;
}

#google a {
/*	font-weight: lighter;*/
	color: #4D5156;
	text-decoration: none;
	font-size: 25px;
}

#google{
	text-align: center;
/*	padding-top: 2px;*/
	margin-bottom: 30px;
	color: #a2a4a6;
	font-weight: lighter;
}

#recaptcha >a {
	font-size: 10px;
	color: #4D5156;
	font-weight: lighter;
}
	
	