.plans {
    margin: 4rem 5rem;
}

#footer {
    background-color: #101D60;
    height: auto;
}

#footer h1{
    color: #A56D00;
    font-size: 1.5rem;
    margin: 0.5rem;
}

#footer h6 {
    color: green;
    font-size: 1rem;
}

#footer p {
    font-size: 0.8rem;
    padding: 0 6.5rem;
}
.card-body {
    height: 15rem;
}